---
import MainLayout from "../layouts/MainLayout.astro";
import ImageSpotlight from "../components/ImageSpotlight.astro";

import wl1 from "../assets/websites-and-landing-pages/3e2c6013-eda9-49d2-bfe3-6e0647c73afb.png";
import wl2 from "../assets/websites-and-landing-pages/1303394d-668d-4c7c-94f1-75069ddab410.png";
import wl3 from "../assets/websites-and-landing-pages/83b11090-3959-42f5-98d6-b97dc8d4a8dd.png";
import wl4 from "../assets/websites-and-landing-pages/92d1076e-9dea-4a6a-a420-5d8f95dda4df.png";
import wl5 from "../assets/websites-and-landing-pages/0a366943-2390-4077-a698-6557a770a4e8.png";

import RandomWorks from "../components/RandomWorks.astro";

---

<MainLayout>
    <header class="page-header">
        <h1>Websites and Landing Pages</h1>

    </header>
    
    <section>
        <p class="text-center mb-4">I designed landing pages and enhanced websites by improving their design and navigation. Here are some of the landing pages I created and the websites I managed.</p>

        <p class="text-center mb-1">www.aduadvantagenow.com <br /> Specializes in helping homeowners who want to build Accessory Dwelling Units (ADUs) in their backyards.</p>
        
        <ImageSpotlight source={wl1} alt="image work" imageClass="image-contain h-auto" />
        
        <p class="text-center my-2">www.adumoneymakers.com <br /> Sharing a wealth of insights and strategies to empower Realtors with the knowledge and tools needed to capitalize on this flourishing niche. </p>
        
        <ImageSpotlight source={wl2} alt="image work" imageClass="image-contain h-auto" />
        
        <p class="text-center my-2">https://grishkogroup.com/ <br /> Managed a realtor's website specializing in residential real estate across the Greater Seattle area.</p>
        
        <ImageSpotlight source={wl3} alt="image work" imageClass="image-contain h-auto" />
        <ImageSpotlight source={wl4} alt="image work" imageClass="image-contain h-auto" />

        <p class="text-center my-2">www.getyour20ktoday.com <br /> Dedicated website to match you with consultants to guide your renovation journey to stay on-time and on-budget.</p>
        
        <ImageSpotlight source={wl5} alt="image work" imageClass="image-contain h-auto" />
        
        <p class="text-center my-4">I created a design that aligned with the brand’s look and feel, tested different versions, and noticed a big improvement in engagement and conversions. It’s always fulfilling to see my work make a difference, and I enjoy learning and trying out new web design trends and tools.</p>

    </section>

    <RandomWorks />
</MainLayout>

